#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@import url('https://fonts.googleapis.com/css2?family=Tan+Songbird&display=swap');

.font-tan-songbird {
  font-family: 'Tan Songbird', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Garet&display=swap');

.font-garet {
  font-family: 'Garet', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Cooper+Black&display=swap');

.font-cooper-black {
  font-family: 'Cooper Black', serif;
}
@font-face {
  font-family: 'TT Firs Text Trial';
  src: url('path/to/TTFirsTextTrial-Regular.woff2') format('woff2'),
       url('path/to/TTFirsTextTrial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-tt-firs-text {
  font-family: 'TT Firs Text Trial', sans-serif;
}
::placeholder {
  color: grey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: grey;
}